In [ ]:
# # load sql magic and password input
# import getpass
# %load_ext sql

# # specify parameters
# user = "hagd5d"               # your pawprint
# password = getpass.getpass()    # type in your password after running this cell
# host = "dbase.dsa.missouri.edu"
# database = "cs_student"

In [1]:
# load sql magic and password input
import getpass
%load_ext sql

# specify parameters
user = "s18group03"
password = getpass.getpass()    
host = "dbase.dsa.missouri.edu"
database = "s18dbmsgroups"

········

In [2]:
# form connection string
connection_string = "postgresql://{user}:{password}@{host}/{database}".format(user=user, password=password, host=host, database=database)
# connect to database using the formed string
%sql $connection_string

'Connected: s18group03@s18dbmsgroups'

# TABLE CREATION

## Clean-up before tables completely (Drop tables)

In [3]:
%sql DROP TABLE IF EXISTS member CASCADE;
%sql DROP TABLE IF EXISTS emergencyContact;
%sql DROP TABLE IF EXISTS member_address;
%sql DROP TABLE IF EXISTS member_contact;
%sql DROP TABLE IF EXISTS memberDues CASCADE;
%sql DROP TABLE IF EXISTS dues_paymentPlan;
%sql DROP TABLE IF EXISTS member_status;
%sql DROP TABLE IF EXISTS family CASCADE;
%sql DROP TABLE IF EXISTS familyTree_roster;
%sql DROP TABLE IF EXISTS recSports CASCADE;
%sql DROP TABLE IF EXISTS recSports_teams CASCADE;
%sql DROP TABLE IF EXISTS team_roster;
%sql DROP TABLE IF EXISTS merch CASCADE;
%sql DROP TABLE IF EXISTS merch_order;
%sql DROP TABLE IF EXISTS budget CASCADE;
%sql DROP TABLE IF EXISTS chairPosition CASCADE;
%sql DROP TABLE IF EXISTS budget_register;
%sql DROP TABLE IF EXISTS point_type CASCADE;
%sql DROP TABLE IF EXISTS events CASCADE;
%sql DROP TABLE IF EXISTS event_attendance;
%sql DROP TABLE IF EXISTS memberPoints_assoc;
%sql DROP TABLE IF EXISTS potential_roster CASCADE;
%sql DROP TABLE IF EXISTS votingResults;
%sql DROP TABLE IF EXISTS classes CASCADE;
%sql DROP TABLE IF EXISTS class_roster;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Create Table Statements

### Security Notes
* Doing security based on Users wouldn't make sense for our shared PSQL server. Would likely use this if we had our very own server and could manage our own list of users (which would be similar to the member table)
* Need a field for security class (for each table) (Each member will be given a security class field based on their position)
    * ex: status_id | status_name | class
    * where class = Top secret (TS), secret (S), confidential (C), unclassified (U): TS > S> C > U
    * and we would check each member access level before performing an action
* Member should have the security class that needs to be checked
    * This should get updated (via Trigger) when a chairPostion is updated
        * OLD chairPosition should change back to U and NEW chairPosition should change to more secure

In [4]:
%%sql
CREATE OR REPLACE function random_string(length integer) returns text as
$$
declare
  chars text[] := '{0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z}';
  result text := '';
  i integer := 0;
begin
  if length < 0 then
    raise exception 'Given length cannot be less than 0';
  end if;
  for i in 1..length loop
    result := result || chars[1+random()*(array_length(chars, 1)-1)];
  end loop;
  return result;
end;
$$
LANGUAGE plpgsql;

Done.

[]

## member_status table

In [5]:
%%sql 
CREATE TABLE member_status (
    status_id INTEGER PRIMARY KEY,
    status_name VARCHAR(25)
);

Done.

[]

In [6]:
%%sql
TRUNCATE member_status CASCADE;

Done.

[]

In [7]:
%%sql
INSERT INTO member_status VALUES
    (1, 'Active'),
    (2, 'Locally Inactive'),
    (3, 'Nationally Inactive'),
    (4, 'Alumni')
;

4 rows affected.

[]

## member table

In [8]:
%%sql 
CREATE TABLE member (
    student_id INTEGER PRIMARY KEY,
    pawprint VARCHAR(25),
    salt VARCHAR(25),
    salted_password VARCHAR(255),
    status INTEGER REFERENCES member_status (status_id),
    last_name VARCHAR(50),
    first_name VARCHAR(50),
    birthday DATE,
    chapter_book_number INTEGER
);

Done.

[]

In [9]:
%%sql
TRUNCATE member CASCADE;

Done.

[]

In [10]:
%%sql
INSERT INTO member VALUES
    (1, random_string(6),NULL,NULL,1,'Carroll','Roy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (2, random_string(6),NULL,NULL,1,'Brown','Clarence',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (3, random_string(6),NULL,NULL,1,'Markx','Sabrina',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (4, random_string(6),NULL,NULL,1,'Jonathan','Julia',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (5, random_string(6),NULL,NULL,1,'Mike','Julian',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (6, random_string(6),NULL,NULL,1,'Comb','Marlon',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (7, random_string(6),NULL,NULL,1,'Pierce','Evan',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (8, random_string(6),NULL,NULL,1,'Wong','Valerie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (9, random_string(6),NULL,NULL,1,'Marcella','Sandy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (10, random_string(6),NULL,NULL,1,'Logan','Bessie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (11, random_string(6),NULL,NULL,1,'Elliott','Seth',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (12, random_string(6),NULL,NULL,1,'Sylvester','Randy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (13, random_string(6),NULL,NULL,1,'Cunningham','Harry',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (14, random_string(6),NULL,NULL,1,'Carl','Ivan',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (15, random_string(6),NULL,NULL,1,'Jacob','Lorene',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (16, random_string(6),NULL,NULL,1,'Larry','Willie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (17, random_string(6),NULL,NULL,1,'Chris','Leigh',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (18, random_string(6),NULL,NULL,1,'Andrew','Lois',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (19, random_string(6),NULL,NULL,1,'Kayla','Katrina',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (20, random_string(6),NULL,NULL,1,'Meyers','Lindsey',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (21, random_string(6),NULL,NULL,1,'Schammel','Joel',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (22, random_string(6),NULL,NULL,1,'Bailey','Peggy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (23, random_string(6),NULL,NULL,1,'Brenden','Robin',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (24, random_string(6),NULL,NULL,1,'Trochtenberg','Janie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (25, random_string(6),NULL,NULL,1,'Barmann','Frances',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (26, random_string(6),NULL,NULL,1,'Pangan','Perry',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (27, random_string(6),NULL,NULL,1,'Dorrow','Lowell',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (28, random_string(6),NULL,NULL,1,'Ferguson','Sergio',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (29, random_string(6),NULL,NULL,1,'Brown','Karla',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (30, random_string(6),NULL,NULL,1,'Johnson','Ross',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (31, random_string(6),NULL,NULL,1,'Klump','Cindy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (32, random_string(6),NULL,NULL,1,'Dylan','Emily',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (33, random_string(6),NULL,NULL,1,'Aaron','Elisa',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (34, random_string(6),NULL,NULL,1,'Marisa','Martha',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (35, random_string(6),NULL,NULL,1,'Emily','Muriel',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (36, random_string(6),NULL,NULL,1,'Alex','Drew',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (37, random_string(6),NULL,NULL,2,'Johnson','Veronica',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (38, random_string(6),NULL,NULL,3,'Ali','Henry',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (39, random_string(6),NULL,NULL,1,'Smith','Bryan',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (40, random_string(6),NULL,NULL,1,'Steinsfield','Clark',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (41, random_string(6),NULL,NULL,1,'Gasperino','Jessica',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (42, random_string(6),NULL,NULL,1,'Gandy','Brent',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (43, random_string(6),NULL,NULL,1,'Hollander','Crystal',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (44, random_string(6),NULL,NULL,1,'Jacobson','Rudolph',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (45, random_string(6),NULL,NULL,1,'McNally','Pam',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (46, random_string(6),NULL,NULL,1,'Hunter','Jessica',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (47, random_string(6),NULL,NULL,1,'Harbison','Phillip',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (48, random_string(6),NULL,NULL,1,'Mathew','Geoffrey',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (49, random_string(6),NULL,NULL,1,'Horatio','Dan',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (50, random_string(6),NULL,NULL,1,'Mallory','Alyssa',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (51, random_string(6),NULL,NULL,1,'Clarence','McNally',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (52, random_string(6),NULL,NULL,1,'Jessica','Johnson',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (53, random_string(6),NULL,NULL,3,'Veronica','Steinsfield',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (54, random_string(6),NULL,NULL,1,'Veronica','Pam',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (55, random_string(6),NULL,NULL,1,'Henry','Smith',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (56, random_string(6),NULL,NULL,1,'Johnson','Roy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (57, random_string(6),NULL,NULL,1,'Hollander','Bryan',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (58, random_string(6),NULL,NULL,1,'Gasperino','Muriel',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (59, random_string(6),NULL,NULL,1,'Brent','Gandy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (60, random_string(6),NULL,NULL,1,'Jacobson','Perry',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (61, random_string(6),NULL,NULL,1,'Klump','Lowell',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (62, random_string(6),NULL,NULL,1,'Clarence','Cunningham',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (63, random_string(6),NULL,NULL,3,'Gross','Charlotte',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (64, random_string(6),NULL,NULL,1,'Francisco','Hoffman',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (65, random_string(6),NULL,NULL,1,'Douglas','Antoinette',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (66, random_string(6),NULL,NULL,1,'Graves','Melinda',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (67, random_string(6),NULL,NULL,1,'Armstrong','Cecelia',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (68, random_string(6),NULL,NULL,1,'Mcbride','Troy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (69, random_string(6),NULL,NULL,2,'Mcgee','Bobbie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (70, random_string(6),NULL,NULL,1,'Marshall','Debbie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (71, random_string(6),NULL,NULL,1,'Cooper','Natalie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (72, random_string(6),NULL,NULL,4,'Harmon','Corey',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (73, random_string(6),NULL,NULL,1,'Black','Guillermo',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (74, random_string(6),NULL,NULL,1,'Brewer','Larry',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (75, random_string(6),NULL,NULL,1,'Hudson','Anne',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (76, random_string(6),NULL,NULL,2,'Conner','Joe',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (77, random_string(6),NULL,NULL,1,'Miles','May',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (78, random_string(6),NULL,NULL,1,'Hayes','Katie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (79, random_string(6),NULL,NULL,1,'Boyd','Kyle',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (80, random_string(6),NULL,NULL,1,'Rodriguez','Nick',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (81, random_string(6),NULL,NULL,1,'Adams','Kim',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (82, random_string(6),NULL,NULL,1,'Thompson','Nakia',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (83, random_string(6),NULL,NULL,1,'Hale','Courtney',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (84, random_string(6),NULL,NULL,1,'Harper','Jacob',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (85, random_string(6),NULL,NULL,2,'Mckenzie','Syndey',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (86, random_string(6),NULL,NULL,1,'Payne','Tyler',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (87, random_string(6),NULL,NULL,1,'Carlson','Elijah',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (88, random_string(6),NULL,NULL,1,'Mccarthy','Leroy',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (89, random_string(6),NULL,NULL,1,'Mccormick','Ronald',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (90, random_string(6),NULL,NULL,4,'Hill','McKenzie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (91, random_string(6),NULL,NULL,1,'Becker','Bea',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (92, random_string(6),NULL,NULL,1,'West','Jess',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (93, random_string(6),NULL,NULL,1,'Garth','Mitt',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (94, random_string(6),NULL,NULL,2,'Brooks','Micheal',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (95, random_string(6),NULL,NULL,1,'Brown','Mitch',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (96, random_string(6),NULL,NULL,1,'Marxkors','Joe',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (97, random_string(6),NULL,NULL,1,'Billy','Julie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (98, random_string(6),NULL,NULL,1,'Van Hugh','Kate',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (99, random_string(6),NULL,NULL,4,'Roberts','Annie',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int),
    (100, random_string(6),NULL,NULL,4,'Ca','Tom',current_date + (floor(random() * 350 + 1)::int), floor(random() * 700 + 100)::int)
;

100 rows affected.

[]

In [ ]:
# %%sql
# SELECT * FROM member LIMIT 20;

## member_address table

In [11]:
%%sql
CREATE TABLE member_address (
    student_id INTEGER REFERENCES member (student_id) ON DELETE CASCADE,
    street_address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(100),
    zip_code VARCHAR(100)
);

Done.

[]

In [12]:
%%sql
TRUNCATE member_address CASCADE;

Done.

[]

In [13]:
%%sql
INSERT INTO member_address VALUES
    (1, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (2, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (3, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (4, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (5, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (6, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (7, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (8, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (9, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (10, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (11, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (12, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (13, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (14, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (15, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (16, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (17, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (18, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (19, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (20, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (21, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (22, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (23, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (24, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (25, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (26, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (27, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (28, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (29, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (30, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (31, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (32, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (33, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (34, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (35, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (36, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (37, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (38, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (39, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (40, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (41, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (42, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (43, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (44, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (45, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (46, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (47, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (48, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (49, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211'),
    (50, (floor(random() * 2500 + 1000)::int) || ' ' || random_string(5), 'Columbia', 'MO', '65211')
;

50 rows affected.

[]

## member_contact table

In [14]:
%%sql
CREATE TABLE member_contact (
    student_id INTEGER REFERENCES member (student_id) ON DELETE CASCADE,
    email_address VARCHAR(255),
    phone_number VARCHAR(25)
);

Done.

[]

In [15]:
%%sql
TRUNCATE member_contact CASCADE;

Done.

[]

In [16]:
%%sql
INSERT INTO member_contact VALUES
    (1, random_string(6) || '@mail.missouri.edu'),
    (2, random_string(6) || '@mail.missouri.edu'),
    (3, random_string(6) || '@mail.missouri.edu'),
    (4, random_string(6) || '@mail.missouri.edu'),
    (5, random_string(6) || '@mail.missouri.edu'),
    (6, random_string(6) || '@mail.missouri.edu'),
    (7, random_string(6) || '@mail.missouri.edu'),
    (8, random_string(6) || '@mail.missouri.edu'),
    (9, random_string(6) || '@mail.missouri.edu'),
    (10, random_string(6) || '@mail.missouri.edu'),
    (11, random_string(6) || '@mail.missouri.edu'),
    (12, random_string(6) || '@mail.missouri.edu'),
    (13, random_string(6) || '@mail.missouri.edu'),
    (14, random_string(6) || '@mail.missouri.edu'),
    (15, random_string(6) || '@mail.missouri.edu'),
    (16, random_string(6) || '@mail.missouri.edu'),
    (17, random_string(6) || '@mail.missouri.edu'),
    (18, random_string(6) || '@mail.missouri.edu'),
    (19, random_string(6) || '@mail.missouri.edu'),
    (20, random_string(6) || '@mail.missouri.edu'),
    (21, random_string(6) || '@mail.missouri.edu'),
    (22, random_string(6) || '@mail.missouri.edu'),
    (23, random_string(6) || '@mail.missouri.edu'),
    (24, random_string(6) || '@mail.missouri.edu'),
    (25, random_string(6) || '@mail.missouri.edu'),
    (26, random_string(6) || '@mail.missouri.edu'),
    (27, random_string(6) || '@mail.missouri.edu'),
    (28, random_string(6) || '@mail.missouri.edu'),
    (29, random_string(6) || '@mail.missouri.edu'),
    (30, random_string(6) || '@mail.missouri.edu'),
    (31, random_string(6) || '@mail.missouri.edu'),
    (32, random_string(6) || '@mail.missouri.edu'),
    (33, random_string(6) || '@mail.missouri.edu'),
    (34, random_string(6) || '@mail.missouri.edu'),
    (35, random_string(6) || '@mail.missouri.edu'),
    (36, random_string(6) || '@mail.missouri.edu'),
    (37, random_string(6) || '@mail.missouri.edu'),
    (38, random_string(6) || '@mail.missouri.edu'),
    (39, random_string(6) || '@mail.missouri.edu'),
    (40, random_string(6) || '@mail.missouri.edu'),
    (41, random_string(6) || '@mail.missouri.edu'),
    (42, random_string(6) || '@mail.missouri.edu'),
    (43, random_string(6) || '@mail.missouri.edu'),
    (44, random_string(6) || '@mail.missouri.edu'),
    (45, random_string(6) || '@mail.missouri.edu'),
    (46, random_string(6) || '@mail.missouri.edu'),
    (47, random_string(6) || '@mail.missouri.edu'),
    (48, random_string(6) || '@mail.missouri.edu'),
    (49, random_string(6) || '@mail.missouri.edu'),
    (50, random_string(6) || '@mail.missouri.edu')
;

50 rows affected.

[]

## emergencyContact table

In [17]:
%%sql 
CREATE TABLE emergencyContact (
    student_id INTEGER REFERENCES member (student_id) ON DELETE CASCADE,
    last_name VARCHAR(50),
    first_name VARCHAR(50),
    email_address VARCHAR(255),
    phone_number VARCHAR(25),
    backup_phone_number VARCHAR(25),
    street_address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(100),
    zip_code VARCHAR(100),
    primary_healthcare_provider VARCHAR(255),
    blood_type VARCHAR(25),
    medical_conditions VARCHAR(255),
    medications VARCHAR(255),
    allergies VARCHAR(255),
    PRIMARY KEY (student_id)
);

Done.

[]

In [18]:
%%sql
TRUNCATE emergencyContact CASCADE;

Done.

[]

In [19]:
%%sql
INSERT INTO emergencyContact VALUES
    (100,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (99,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (98,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (97,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (96,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (95,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (94,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (93,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (92,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (91,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (90,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (89,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (88,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (87,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (86,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (85,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (84,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (83,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (82,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (81,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (80,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (79,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (78,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (77,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (76,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (75,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (74,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (73,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (72,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (71,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (70,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (69,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (68,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (67,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (66,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (65,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (64,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (63,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (62,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (61,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (60,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (59,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (58,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (57,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (56,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (55,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (54,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (53,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (52,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211'),
    (51,random_string(8),random_string(5),random_string(6) || '@mail.missouri.edu',NULL,NULL,(floor(random() * 2500 + 1000)::int) || ' ' || random_string(5),'Columbia','MO','65211')
;

50 rows affected.

[]

## memberDues table

In [20]:
%%sql 
CREATE TABLE memberDues (
    student_id INTEGER UNIQUE REFERENCES member (student_id) ON DELETE CASCADE,
    dues_id INTEGER UNIQUE,
    amount_owed REAL,
    amount_paid REAL,
    payment_method VARCHAR(25),
    notes VARCHAR(255),
    PRIMARY KEY (student_id, dues_id)
);

Done.

[]

In [21]:
%%sql
TRUNCATE memberDues CASCADE;

Done.

[]

In [22]:
%%sql
INSERT INTO memberDues VALUES
    /*(floor(random() * 100 + 1)::int, 1 ,125.00,round((random()*(125-1)+1)::numeric, 2)),*/
    (100, 1 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (99, 2 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (98, 3 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (97, 4 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (96, 5 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (95, 6 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (94, 7 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (93, 8 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (92, 9 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (91, 10 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (90, 11 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (89, 12 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (88, 13 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (87, 14 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (86, 15 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (85, 16 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (84, 17 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (83, 18 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (82, 19 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (81, 20 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (80, 21 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (79, 22 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (78, 23 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (77, 24 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (76, 25 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (75, 26 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (74, 27 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (73, 28 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (72, 29 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (71, 30 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (70, 31 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (69, 32 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (68, 33 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (67, 34 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (66, 35 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (65, 36 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (64, 37 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (63, 38 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (62, 39 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (61, 40 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (60, 41 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (59, 42 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (58, 43 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (57, 44 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (56, 45 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (55, 46 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (54, 47 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (53, 48 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (52, 49 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (51, 50 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (50, 51 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (49, 52 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (48, 53 ,125.00,round((random()*(125-1)+1)::numeric, 2)),
    (1, 100 ,125.00,round((random()*(125-1)+1)::numeric, 2))
;

54 rows affected.

[]

In [ ]:
%%sql 
SELECT * FROM memberDues LIMIT(10);

## dues_paymentPlan table
* Trigger: When last_amount_paid updated -> update amount_paid in memberDues
    * amount_paid = (OLD)amount_paid + (NEW)last_amount_paid

In [23]:
%%sql 
CREATE TABLE dues_paymentPlan (
    dues_id INTEGER REFERENCES memberDues (dues_id) ON DELETE CASCADE,
    start_date DATE,
    end_date DATE,
    last_amount_paid REAL,
    last_payment_date DATE,
    next_amount_due REAL,
    next_payment_date DATE,
    PRIMARY KEY (dues_id)
);

Done.

[]

In [24]:
%%sql
TRUNCATE dues_paymentPlan CASCADE;

Done.

[]

In [25]:
%%sql
INSERT INTO dues_paymentPlan VALUES
    (
        1,
        current_date + (floor(random()*20+1)::int),
        current_date + (floor(random()*60+1)::int),
        NULL,
        NULL,
        round((random()*(20-1)+1)::numeric, 2),
        current_date + (floor(random()*10+1)::int)
    ),
    (2,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (3,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (4,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (5,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (6,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (7,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (8,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (9,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (10,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (11,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (12,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (13,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (14,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (15,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (16,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (17,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (18,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (19,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int)),
    (20,current_date + (floor(random()*20+1)::int),current_date + (floor(random()*60+1)::int),NULL,NULL,round((random()*(20-1)+1)::numeric, 2),current_date + (floor(random()*10+1)::int))
;

20 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM dues_paymentPlan;

## family table

In [26]:
%%sql
CREATE TABLE family (
    family_id INTEGER PRIMARY KEY,
    family_name VARCHAR(255),
    founding_date DATE
);

Done.

[]

In [27]:
%%sql
TRUNCATE family CASCADE;

Done.

[]

In [28]:
%%sql
INSERT INTO family VALUES
    (1, 'Wright', '1916-02-14'),
    (2, 'Bell', '1916-02-14'),
    (3, 'Baker', '1916-02-14'),
    (4, 'Royals', '1916-02-14'),
    (5, 'Harrison Ford', '1916-02-14'),
    (6, 'Summer Young', '1916-02-14'),
    (7, 'Doyle', '1916-02-14'),
    (8, 'Fem', '1916-02-14'),
    (9, 'Gong', '1916-02-14'),
    (10, 'Cook', '1916-02-14')
;

10 rows affected.

[]

## familyTree_roster table

In [29]:
%%sql 
CREATE TABLE familyTree_roster (
    student_id INTEGER UNIQUE REFERENCES member (student_id) ON DELETE CASCADE,
    family_id INTEGER NOT NULL REFERENCES family (family_id) ON DELETE CASCADE
);

Done.

[]

In [30]:
%%sql
TRUNCATE familyTree_roster CASCADE;

Done.

[]

In [31]:
%%sql
INSERT INTO familyTree_roster VALUES
    (1, 10),
    (2, 10),
    (3, 10),
    (4, 10),
    (5, 10),
    (6, 9),
    (7, 9),
    (8, 9),
    (9, 9),
    (10, 9),
    (11, 8),
    (12, 8),
    (13, 8),
    (14, 8),
    (15, 8),
    (16, 8),
    (17, 8),
    (18, 8),
    (19, 8),
    (20, 8),
    (21, 7),
    (22, 7),
    (23, 7),
    (24, 7),
    (25, 7),
    (26, 7),
    (27, 7),
    (28, 7),
    (29, 7),
    (30, 7),
    (31, 7),
    (32, 7),
    (33, 6),
    (34, 6),
    (35, 6),
    (36, 6),
    (37, 6),
    (38, 6),
    (39, 6),
    (40, 6),
    (41, 6),
    (42, 6),
    (43, 6),
    (44, 6),
    (45, 6),
    (46, 6),
    (47, 6),
    (48, 6),
    (49, 6),
    (50, 6),
    (51, 6),
    (52, 6),
    (53, 5),
    (54, 5),
    (55, 5),
    (56, 4),
    (57, 4),
    (58, 4),
    (59, 4),
    (60, 4),
    (61, 4),
    (62, 3),
    (63, 3),
    (64, 3),
    (65, 3),
    (66, 3),
    (67, 3),
    (68, 3),
    (69, 3),
    (70, 3),
    (71, 2),
    (72, 2),
    (73, 2),
    (74, 2),
    (75, 2),
    (76, 2),
    (77, 2),
    (78, 2),
    (79, 2),
    (80, 2),
    (81, 2),
    (82, 2),
    (83, 2),
    (84, 2),
    (85, 2),
    (86, 2),
    (87, 2),
    (88, 2),
    (89, 2),
    (90, 2),
    (91, 1),
    (92, 1),
    (93, 1),
    (94, 1),
    (95, 1),
    (96, 1),
    (97, 1),
    (98, 1),
    (99, 1),
    (100, 1)
;

100 rows affected.

[]

## recSports table

In [32]:
%%sql
CREATE TABLE recSports (
    sport_id INTEGER PRIMARY KEY,
    sport_name VARCHAR(255) NOT NULL,
    semester VARCHAR(50),
    start_date DATE,
    end_date DATE
);

Done.

[]

In [33]:
%%sql
TRUNCATE recSports CASCADE;

Done.

[]

In [34]:
%%sql
INSERT INTO recSports VALUES
    (1, 'CO-REC Basketball', 'Fall', '2015-10-25', '2015-12-25'),
    (2, 'Battleship', 'Fall', '2015-11-25', '2015-11-25'),
    (3, 'CO-REC Flag Football', 'Fall', '2015-10-25', '2015-12-25'),
    (4, 'CO-REC Indoor Volleyball', 'Fall', '2015-10-25', '2015-11-25'),
    (5, 'Log Rolling', 'Fall', '2015-11-26', '2015-11-26'),
    (6, 'CO-REC Basketball', 'Spring', '2015-2-15', '2015-3-25'),
    (7, 'Battleship', 'Spring', '2015-2-15', '2015-2-15'),
    (8, 'CO-REC Soccer', 'Spring', '2015-2-15', '2015-4-15'),
    (9, 'CO-REC Sand Volleyball', 'Spring', '2015-4-01', '2015-4-25'),
    (10, 'Log Rolling', 'Spring', '2015-2-16', '2015-2-16'),
    (11, 'CO-REC Basketball', 'Fall', '2016-10-25', '2016-12-25'),
    (12, 'Battleship', 'Fall', '2016-11-25', '2016-11-25'),
    (13, 'CO-REC Flag Football', 'Fall', '2016-10-25', '2016-12-25'),
    (14, 'CO-REC Indoor Volleyball', 'Fall', '2016-10-25', '2016-11-25'),
    (15, 'Log Rolling', 'Fall', '2016-11-26', '2016-11-26'),
    (16, 'CO-REC Basketball', 'Spring', '2016-2-15', '2016-3-25'),
    (17, 'Battleship', 'Spring', '2016-2-15', '2016-2-15'),
    (18, 'CO-REC Soccer', 'Spring', '2016-2-15', '2016-4-15'),
    (19, 'CO-REC Sand Volleyball', 'Spring', '2016-4-01', '2016-4-25'),
    (20, 'Log Rolling', 'Spring', '2016-2-16', '2016-2-16'),
    (21, 'CO-REC Basketball', 'Fall', '2017-10-25', '2017-12-25'),
    (22, 'Battleship', 'Fall', '2017-11-25', '2017-11-25'),
    (23, 'CO-REC Flag Football', 'Fall', '2017-10-25', '2017-12-25'),
    (24, 'CO-REC Indoor Volleyball', 'Fall', '2017-10-25', '2017-11-25'),
    (25, 'Log Rolling', 'Fall', '2017-11-26', '2017-11-26'),
    (26, 'CO-REC Basketball', 'Spring', '2017-2-15', '2017-3-25'),
    (27, 'Battleship', 'Spring', '2017-2-15', '2017-2-15'),
    (28, 'CO-REC Soccer', 'Spring', '2017-2-15', '2017-4-15'),
    (29, 'CO-REC Sand Volleyball', 'Spring', '2017-4-01', '2017-4-25'),
    (30, 'Log Rolling', 'Spring', '2017-2-16', '2017-2-16'),
    (31, 'CO-REC Basketball', 'Spring', '2018-2-15', '2018-3-25'),
    (32, 'CO-REC Soccer', 'Spring', '2018-2-15', '2018-4-15')
;

32 rows affected.

[]

## recSports_teams table

In [37]:
%%sql
CREATE TABLE recSports_teams (
    team_id INTEGER PRIMARY KEY,
    sport_id INTEGER REFERENCES recSports (sport_id),
    team_name VARCHAR(255),
    day_of_week VARCHAR(50) /*Day the team plays*/
    /*time_of_day TIME*/ /*time games are played*/
);

Done.

[]

In [38]:
%%sql
TRUNCATE recSports_teams CASCADE;

Done.

[]

In [39]:
%%sql
INSERT INTO recSports_teams VALUES
    (1, 32, 'PSP Soccer', 'Wednesday'),
    (2, 31, 'PSP Basketball', 'Sunday'),
    (3, 29, 'PSP 1', 'Sunday'),
    (4, 29, 'PSP 2', 'Sunday'),
    (5, 29, 'PSP 3', 'Monday'),
    (6, 29, 'PSP 4', 'Monday'),
    (7, 27, 'PSP Purple', 'Thursday'),
    (8, 27, 'PSP Gold', 'Thursday'),
    (9, 27, 'PSP White', 'Thursday'),
    (10, 27, 'PSP 1', 'Thursday'),
    (11, 27, 'PSP 2', 'Thursday'),
    (12, 27, 'PSP 3', 'Thursday')
;

12 rows affected.

[]

## team_roster table

In [40]:
%%sql
CREATE TABLE team_roster (
    team_id INTEGER REFERENCES recSports_teams (team_id),
    student_id INTEGER REFERENCES member (student_id),
    PRIMARY KEY (team_id, student_id)
);

Done.

[]

In [41]:
%%sql
TRUNCATE team_roster CASCADE;

Done.

[]

In [42]:
%%sql
INSERT INTO team_roster VALUES
    (1,1),
    (1,11),
    (1,31),
    (1,21),
    (1,41),
    (1,51),
    (1,61),
    (1,71),
    (1,81),
    (1,91),
    (1,5),
    (1,6),
    (1,9),
    (2,1),
    (2,11),
    (2,31),
    (2,21),
    (2,41),
    (2,51),
    (2,61),
    (2,71),
    (2,81),
    (2,91),
    (2,5),
    (2,6),
    (2,9),
    (7, 1),
    (7, 2),
    (7, 3),
    (7, 4),
    (3, 1),
    (3, 2),
    (3, 3),
    (3, 4),
    (4, 55),
    (4, 42),
    (4, 43),
    (4, 68),
    (5, 32),
    (5, 79),
    (5, 80),
    (5, 100),
    (6, 37),
    (6, 47),
    (6, 67),
    (6, 87),
    (8, 78),
    (8, 77),
    (8, 76),
    (8, 75),
    (9, 54),
    (9, 52),
    (9, 65),
    (9, 66),
    (10, 32),
    (10, 21),
    (10, 20),
    (10, 57),
    (11, 89),
    (11, 90),
    (11, 91),
    (11, 92),
    (12, 13),
    (12, 100),
    (12, 81),
    (12, 9)
;

66 rows affected.

[]

## merch table

In [43]:
%%sql
CREATE TABLE merch (
    merch_id INTEGER PRIMARY KEY,
    item_name VARCHAR(100),
    price REAL,
    semester VARCHAR(50),
    year INTEGER
);

Done.

[]

In [49]:
%%sql
TRUNCATE merch CASCADE;

Done.

[]

In [50]:
%%sql
INSERT INTO merch VALUES
    (1, 'Rush T-Shirt', 5.50, 'Spring', 2016),
    (2, 'Comfort Hat', 11.75, 'Spring', 2016),
    (3, 'Owl T-Shirt', 12.50, 'Spring', 2016),
    (4, 'Crest T-Shirt', 17.50, 'Fall', 2016),
    (5, 'PSP Mug', 10.75, 'Fall', 2016),
    (6, 'Greek Hoodie', 12.50, 'Fall', 2016),
    (7, 'Greek Quarter-Zip', 17.50, 'Spring', 2017),
    (8, 'PSP Sticker', 2.75, 'Spring', 2017),
    (9, 'Ugly Sweater', 20.50, 'Spring', 2017),
    (10, 'Star Wars T-Shirt', 17.50, 'Fall', 2017),
    (11, 'PSP Sweatpants', 11.75, 'Fall', 2017),
    (12, 'Retro T-Shirt', 17.50, 'Spring', 2018),
    (13, 'PSP Hat', 11.75, 'Spring', 2018),
    (14, 'Greek T-Shirt', 12.50, 'Spring', 2018),
    (15, 'Quarter-Zip', 25.00, 'Spring', 2018)
;

15 rows affected.

[]

## merch_order table

In [46]:
%%sql
CREATE TABLE merch_order (
    merch_id INTEGER REFERENCES merch (merch_id) ON DELETE CASCADE,
    student_id INTEGER REFERENCES member (student_id) ON DELETE CASCADE,
    quantity INTEGER NOT NULL,
    payment_due_date DATE,
    delivery_date DATE,
    completed BOOLEAN, /* Boolean value for checking if an order has been fully completed */
    PRIMARY KEY (merch_id, student_id)
);

Done.

[]

In [51]:
%%sql
TRUNCATE merch_order CASCADE;

Done.

[]

In [ ]:
### <= 11 completed = TRUE

In [52]:
%%sql
INSERT INTO merch_order VALUES
    (15, 1, 1, current_date - 400, current_date - 390, FALSE),
    (14, 1, 1, current_date - 400, current_date - 390, FALSE),
    (1, 2, 1, current_date - 400, current_date - 390, TRUE),
    (2, 3, 1, current_date - 400, current_date - 390, TRUE),
    (2, 4, 1, current_date - 400, current_date - 390, TRUE),
    (3, 5, 1, current_date - 400, current_date - 390, TRUE),
    (4, 6, 1, current_date - 400, current_date - 390, TRUE),
    (4, 7, 1, current_date - 400, current_date - 390, TRUE),
    (4, 8, 1, current_date - 400, current_date - 390, TRUE),
    (4, 9, 1, current_date - 400, current_date - 390, TRUE),
    (4, 10, 1, current_date - 400, current_date - 390, TRUE),
    (5, 11, 1, current_date - 400, current_date - 390, TRUE),
    (5, 12, 1, current_date - 400, current_date - 390, TRUE),
    (6, 13, 1, current_date - 400, current_date - 390, TRUE),
    (5, 14, 1, current_date - 400, current_date - 390, TRUE),
    (6, 15, 1, current_date - 400, current_date - 390, TRUE),
    (6, 16, 1, current_date - 400, current_date - 390, TRUE),
    (6, 17, 1, current_date - 400, current_date - 390, TRUE),
    (7, 18, 1, current_date - 400, current_date - 390, TRUE),
    (8, 19, 1, current_date - 400, current_date - 390, TRUE),
    (8, 20, 1, current_date - 400, current_date - 390, TRUE),
    (8, 21, 1, current_date - 400, current_date - 390, TRUE),
    (9, 22, 1, current_date - 400, current_date - 390, TRUE),
    (9, 23, 1, current_date - 400, current_date - 390, TRUE),
    (9, 24, 1, current_date - 400, current_date - 390, TRUE),
    (10, 24, 1, current_date - 400, current_date - 390, TRUE),
    (11, 25, 1, current_date - 400, current_date - 390, TRUE),
    (11, 26, 1, current_date - 400, current_date - 390, TRUE),
    (10, 56, 1, current_date - 400, current_date - 390, TRUE),
    (12, 90, 1, current_date - 400, current_date - 390, FALSE),
    (13, 91, 1, current_date - 400, current_date - 390, FALSE),
    (15, 92, 1, current_date - 400, current_date - 390, FALSE),
    (1, 91, 1, current_date - 400, current_date - 390, FALSE),
    (15, 93, 1, current_date - 400, current_date - 390, FALSE),
    (14, 94, 1, current_date - 400, current_date - 390, FALSE),
    (12, 95, 1, current_date - 400, current_date - 390, FALSE)
;

36 rows affected.

[]

## budget table

In [53]:
%%sql
CREATE TABLE budget (
    budget_item_id INTEGER PRIMARY KEY,
    item_name VARCHAR(255) NOT NULL,
    item_type INTEGER NOT NULL, /* 0 for expense, 1 for revenue */
    budget_amount REAL NOT NULL,
    semester VARCHAR(255),
    year INTEGER /* Maybe change to date (only year though) */
);

Done.

[]

In [54]:
%%sql
TRUNCATE budget CASCADE;

Done.

[]

In [55]:
%%sql
INSERT INTO budget VALUES
    (1, 'Nationals Check (Active Bros)', 0, 6246.00, 'Spring', 2017),
    (2, 'Nationals Check (Inactive Bros)', 0, 1152.00, 'Spring', 2017),
    (3, 'Nationals Check (Initiates)', 0, 2580.00, 'Spring', 2017),
    (4, 'EBOARD MISC', 0, 100.00, 'Spring', 2017),
    (5, 'Recruitment', 0, 1000.00, 'Spring', 2017),
    (6, 'Initiation', 0, 1000.00, 'Spring', 2017),
    (7, 'DAS', 0, 750.00, 'Spring', 2017),
    (8, 'Fellowship', 0, 750.00, 'Spring', 2017),
    (9, 'Rec Sports', 0, 1000.00, 'Spring', 2017),
    (10, 'Alumni', 0, 100.00, 'Spring', 2017),
    (11, 'Alumni Banquet', 0, 0.00, 'Spring', 2017),
    (12, 'Merch Credit / Rush Shirts', 0, 1000.00, 'Spring', 2017),
    (13, 'Active Bros @ $125/member', 1, 10875.00, 'Spring', 2017),
    (14, 'Inactive Bros @ $72/member', 1, 1152.00, 'Spring', 2017),
    (15, 'Initiates @ $225/member', 1, 3375.00, 'Spring', 2017),
    (16, 'Fundraising Goal', 1, 500.00, 'Spring', 2017),
    (17, 'Fines/Past Dues', 1, 175.00, 'Spring', 2017),
    (18, 'Leftover from previous semester', 1, 92.01, 'Spring', 2017),
    (19, 'Nationals Check (Active Bros)', 0, 6480.00, 'Fall', 2017),
    (20, 'Nationals Check (Inactive Bros)', 0, 720.00, 'Fall', 2017),
    (21, 'Nationals Check (Initiates)', 0, 3440.00, 'Fall', 2017),
    (22, 'EBOARD MISC', 0, 300.00, 'Fall', 2017),
    (23, 'Recruitment', 0, 450.00, 'Fall', 201),
    (24, 'Initiation', 0, 1000.00, 'Fall', 2017),
    (25, 'DAS', 0, 750.00, 'Fall', 2017),
    (26, 'Fellowship', 0, 750.00, 'Fall', 2017),
    (27, 'Rec Sports', 0, 1000.00, 'Fall', 2017),
    (28, 'Alumni', 0, 500.00, 'Fall', 2017),
    (29, 'Formal', 0, 1750.00, 'Fall', 2017),
    (30, 'Merch Credit / Rush Shirts', 0, 0.00, 'Fall', 2017),
    (31, 'Active Bros @ $125/member', 1, 11250.00, 'Fall', 2017),
    (32, 'Inactive Bros @ $72/member', 1, 720.00, 'Fall', 2017),
    (33, 'Initiates @ $225/member', 1, 4500.00, 'Fall', 2017),
    (34, 'Fundraising Goal', 1, 300.00, 'Fall', 2017),
    (35, 'Fines/Past Dues', 1, 0.00, 'Fall', 2017),
    (36, 'Leftover from previous semester', 1, 500.43, 'Fall', 2017),
    
    (37, 'Nationals Check (Active Bros)', 0, 6246.00, 'Spring', 2018),
    (38, 'Nationals Check (Inactive Bros)', 0, 1152.00, 'Spring', 2018),
    (39, 'Nationals Check (Initiates)', 0, 2580.00, 'Spring', 2018),
    (40, 'EBOARD MISC', 0, 100.00, 'Spring', 2018),
    (41, 'Recruitment', 0, 700.00, 'Spring', 2018),
    (42, 'Initiation', 0, 1000.00, 'Spring', 2018),
    (43, 'DAS', 0, 750.00, 'Spring', 2018),
    (44, 'Fellowship', 0, 750.00, 'Spring', 2018),
    (45, 'Rec Sports', 0, 800.00, 'Spring', 2018),
    (46, 'Alumni', 0, 1300.00, 'Spring', 2018),
    (47, 'Alumni Banquet', 0, 0.00, 'Spring', 2018),
    (48, 'Merch Credit / Rush Shirts', 0, 0.00, 'Spring', 2018),
    (49, 'Active Bros @ $125/member', 1, 10875.00, 'Spring', 2018),
    (50, 'Inactive Bros @ $72/member', 1, 1152.00, 'Spring', 2018),
    (51, 'Initiates @ $225/member', 1, 3375.00, 'Spring', 2018),
    (52, 'Fundraising Goal', 1, 200.00, 'Spring', 2018),
    (53, 'Fines/Past Dues', 1, 250.00, 'Spring', 2018),
    (54, 'Leftover from previous semester', 1, 975.97, 'Spring', 2018)
;

54 rows affected.

[]

## chairPosition table

In [56]:
%%sql
CREATE TABLE chairPosition (
    position_id INTEGER PRIMARY KEY,
    student_id INTEGER REFERENCES member (student_id) ON DELETE CASCADE,
    /* ADD CHAIR POSITION FIELD LIKE "position INTEGER" 0 for active&no position / 4 for president / and so on */
    position_name VARCHAR(255) NOT NULL,
    position_type VARCHAR(255), /* EBOARD or EBEC */
    description VARCHAR(255)
);

Done.

[]

In [57]:
%%sql
TRUNCATE chairPosition CASCADE;

Done.

[]

In [58]:
%%sql
INSERT INTO chairPosition VALUES
    (1, NULL, 'President', 'EBOARD'),
    (2, NULL, 'Vice President', 'EBOARD'),
    (3, NULL, 'Recording Secretary', 'EBOARD'),
    (4, NULL, 'Corresponding Secretary', 'EBOARD'),
    (5, NULL, 'Treasurer', 'EBOARD'),
    (6, NULL, 'Recruitment Chair', 'EBOARD'),
    (7, NULL, 'Initiate Advisor', 'EBOARD'),
    (8, NULL, 'Historian', 'EBOARD'),
    (9, NULL, 'Parlimentarian', 'EBOARD'),
    (10, NULL, 'Bro At Large', 'EBOARD'),
    (11, NULL, 'Fundraising Chair', 'EBEC'),
    (12, NULL, 'Alumni Chair', 'EBEC'),
    (13, NULL, 'Philanthropy Chair', 'EBEC'),
    (14, NULL, 'Service Chair', 'EBEC'),
    (15, NULL, 'DAS Chair', 'EBEC'),
    (16, NULL, 'Fellowship Chair', 'EBEC'),
    (17, NULL, 'Risk Management Chair', 'EBEC'),
    (18, NULL, 'Rec Sports Chair (1)', 'EBEC'),
    (19, NULL, 'Rec Sports Chair (2)', 'EBEC'),
    (20, NULL, 'PR Chair (1)', 'EBEC'),
    (21, NULL, 'PR Chair (2)', 'EBEC'),
    (22, NULL, 'Campus Liason', 'EBEC')
;

22 rows affected.

[]

## budget_register table
* Add NOTES field to ERD

In [59]:
%%sql
CREATE TABLE budget_register (
    register_id INTEGER PRIMARY KEY,
    budget_item_id INTEGER REFERENCES budget (budget_item_id) NOT NULL,
    chairposition INTEGER REFERENCES chairPosition (position_id),
    transaction_type INTEGER NOT NULL, /* 0 for expense, 1 for revenue */
    transaction_amount REAL NOT NULL,
    transaction_date DATE NOT NULL,
    method VARCHAR(255), /* Method of transaction such as Cash, Card, Check */
    notes VARCHAR(255) /* Could use this for description of transaction */
);

Done.

[]

In [60]:
%%sql
TRUNCATE budget_register CASCADE;

Done.

[]

In [61]:
%%sql
INSERT INTO budget_register VALUES
    (1, 45, 18, 0, 35.00, '2018-1-31', 'Cash','log rolling'),
    (2, 41, 6, 0, 21.76, '2018-2-09', 'Venmo','dessert social'),
    (3, 45, 18, 0, 149.00, '2018-2-13', 'Card','basketball'),
    (4, 41, 6, 0, 80.09, '2018-2-13', 'Venmo','dessert social'),
    (5, 41, 6, 0, 20.51, '2018-2-13', 'Card','dessert social'),
    (6, 41, 6, 0, 14.77, '2018-2-13', 'Venmo','dessert social'),
    (7, 45, 18, 0, 149.00, '2018-2-15', 'Card','soccer'),
    (8, 43, 15, 0, 84.00, '2018-2-17', 'Cash','vag mono tickets'),
    (9, 41, 6, 0, 15.77, '2018-2-19', 'Cash','tripod games'),
    (10, 41, 6, 0, 35.00, '2018-2-16', 'Check','dinner with bros'),
    (11, 42, 7, 0, 71.74, '2018-2-19', 'Check','pins'),
    (12, 41, 6, 0, 35.00, '2018-2-20', 'Cash','dinner with bros'),
    (13, 41, 6, 0, 22.98, '2018-2-26', 'Cash','printing bid papers'),
    (14, 45, 18, 0, 88.00, '2018-2-26', 'Cash','soccer equipment'),
    (15, 41, 6, 0, 40.96, '2018-2-27', 'Venmo','dinner with bros'),
    (16, 42, 7, 0, 351.75, '2018-3-11', 'Card','tshirts'),
    (17, 42, 7, 0, 13.64, '2018-3-11', 'Cash','initiate snacks'),
    (18, 45, 18, 0, 99.00, '2018-3-15', 'Card','sand volleyball'),
    (19, 44, 16, 0, 52.50, '2018-3-18', 'Cash','skating'),
    (20, 42, 7, 0, 31.94, '2018-3-18', 'Cash','initiate snacks'),
    (21, 44, 16, 0, 42.53, '2018-3-19', 'Cash','midterm mind break'),
    (22, 43, 15, 0, 41.59, '2018-4-02', 'Cash','cultural cooking'),
    (23, 43, 15, 0, 167.18, '2018-4-08', 'Cash','ted talks')
;

23 rows affected.

[]

## point_type table

In [62]:
%%sql 
CREATE TABLE point_type (
    type_id INTEGER PRIMARY KEY,
    name VARCHAR(255)
);

Done.

[]

In [63]:
%%sql
TRUNCATE point_type CASCADE;

Done.

[]

In [64]:
%%sql
INSERT INTO point_type VALUES
    (1, 'DAS'),
    (2, 'Fellowship'),
    (3, 'Service'),
    (4, 'Fundraising'),
    (5, 'Campus Liason')
    /* ADD types for voting and other requirements */
;

5 rows affected.

[]

## events table
* Trigger: When point_type is updated event_attendance should be updated
    * events.point_type = event_attendance.point_type
    * or memberPoint_associative

In [65]:
%%sql
CREATE TABLE events (
    event_id INTEGER PRIMARY KEY,
    position_id INTEGER REFERENCES chairPosition (position_id),
    point_type INTEGER NOT NULL REFERENCES point_type (type_id),
    num_of_points INTEGER NOT NULL, /* Default should be 1 but can sometimes be 2 or more */
    title VARCHAR(255), /* Name of the event */
    event_date DATE,
    semester VARCHAR(255)
);

Done.

[]

In [66]:
%%sql
TRUNCATE events CASCADE;

Done.

[]

In [67]:
%%sql
INSERT INTO events VALUES
    /* DAS Events */
    
    (1,15,1,1,'Ted Talks',current_date - 30,'Spring'),
    (2,15,1,1,'Cultural Potluck',current_date - 29,'Spring'),
    (3,15,1,1,'Vagina Monologues',current_date - 28,'Spring'),
    (4,15,1,1,'Documentary Night',current_date - 27,'Spring'),
    (5,15,1,1,'Cultural Center Tour',current_date - 26,'Spring'),
    
    /* Fellowship Events */
    
    (6,16,2,1,'Video Game Night',current_date - 27,'Spring'),
    (7,16,2,1,'Board Game Night',current_date - 26,'Spring'),
    (8,16,2,1,'Games on the Quad',current_date - 25,'Spring'),
    (9,16,2,1,'Capture the Flag',current_date - 24,'Spring'),
    (10,16,2,1,'Movie Night',current_date - 23,'Spring'),
    (11,16,2,1,'Morning Cartoons',current_date - 22,'Spring'),
    
    /* Service Events */
    
    (12,14,3,1,'Trash Cleanup',current_date - 21,'Spring'),
    (13,14,3,1,'Food Bank',current_date - 20,'Spring'),
    (14,14,3,1,'Clean up COMO',current_date - 10,'Spring'),
    
    /* Fundraising Events */
    
    (15,11,4,1,'Football Cleanup',current_date - 9,'Spring'),
    (16,11,4,1,'Shakespeares Profit Share',current_date - 8,'Spring'),
    (17,11,4,1,'Smoothie King Profit Share',current_date - 7,'Spring'),
    
    /* Campus Liason Events */
    
    (18,22,5,1,'Its On Us',current_date - 6,'Spring'),
    (19,22,5,1,'Special Speaker',current_date - 5,'Spring'),
    (20,22,5,1,'True/False',current_date - 4,'Spring')
    
;

20 rows affected.

[]

## event_attendance table

In [68]:
%%sql
CREATE TABLE event_attendance (
    event_id INTEGER REFERENCES events (event_id),
    student_id INTEGER REFERENCES member (student_id),
    point_type INTEGER REFERENCES point_type (type_id),
    PRIMARY KEY (event_id, student_id)
);

Done.

[]

In [69]:
%%sql
TRUNCATE event_attendance CASCADE;

Done.

[]

In [70]:
%%sql
INSERT INTO event_attendance VALUES
/* DAS Events */
    (1,1,1),
    (2,2,1),
    (3,3,1),
    (4,4,1),
    (5,5,1),
    (1,6,1),
    (2,1,1),
    (3,7,1),
    (4,90,1),
    (5,91,1),
    (1,54,1),
    (2,56,1),
    (3,57,1),
    (4,23,1),
    (5,24,1),
/* Fellowship Events */
    (6,1,2),
    (7,45,2),
    (8,46,2),
    (9,47,2),
    (10,82,2),
    (11,81,2),
    (6,80,2),
    (7,90,2),
    (8,99,2),
    (9,100,2),
    (10,12,2),
    (11,1,2),
    (6,22,2),
    (7,23,2),
    (8,24,2),
/* Service Events */
    (12,1,3),
    (13,37,3),
    (14,38,3),
    (12,39,3),
    (13,40,3),
    (14,41,3),
    (12,42,3),
    (13,43,3),
    (14,44,3),
    (12,45,3),
    (13,46,3),
    (14,1,3),
    (12,47,3),
    (13,48,3),
    (14,60,3),
/* Fundraising Events */
    (15,1,4),
    (16,53,4),
    (17,54,4),
    (15,56,4),
    (16,77,4),
    (17,76,4),
    (15,75,4),
    (16,74,4),
    (17,55,4),
    (15,73,4),
    (16,72,4),
    (17,71,4),
    (15,88,4),
    (16,87,4),
    (17,86,4),
/* Campus Liason Events */
    (18,1,5),
    (19,98,5),
    (20,1,5),
    (18,97,5),
    (19,96,5),
    (20,95,5),
    (18,94,5),
    (19,93,5),
    (20,92,5),
    (18,91,5),
    (19,12,5),
    (20,13,5),
    (18,14,5),
    (19,15,5),
    (20,16,5)
;

75 rows affected.

[]

## memberPoints_assoc table **** (Delete Possibly)

In [71]:
%%sql
CREATE TABLE memberPoints_assoc (
    student_id INTEGER REFERENCES member (student_id),
    point_type INTEGER REFERENCES point_type (type_id),
    PRIMARY KEY (student_id, point_type)
);

Done.

[]

In [72]:
%%sql
TRUNCATE memberPoints_assoc CASCADE;

Done.

[]

In [73]:
%%sql
INSERT INTO member_status VALUES
    (1, 'Active'),
    (2, 'Locally Inactive'),
    (3, 'Nationally Inactive'),
    (4, 'Alumni')
;

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "member_status_pkey"
DETAIL:  Key (status_id)=(1) already exists.
 [SQL: "INSERT INTO member_status VALUES\n    (1, 'Active'),\n    (2, 'Locally Inactive'),\n    (3, 'Nationally Inactive'),\n    (4, 'Alumni')\n;"]

## potential_roster table

In [74]:
%%sql
CREATE TABLE potential_roster (   
    student_id INTEGER PRIMARY KEY,
    pawprint VARCHAR(25),
    last_name VARCHAR(50),
    first_name VARCHAR(50),
    email_address VARCHAR(255),
    phone_number VARCHAR(25)
);

Done.

[]

In [75]:
%%sql
TRUNCATE potential_roster CASCADE;

Done.

[]

In [76]:
%%sql
INSERT INTO potential_roster VALUES
    (1, random_string(6),'Carroll','Roy',random_string(8) || '@yahoo.com'),
    (2, random_string(6),'Mallory','Alyssa',random_string(8) || '@yahoo.com'),
    (3, random_string(6),'Clarence','McNally',random_string(8) || '@yahoo.com'),
    (4, random_string(6),'Jessica','Johnson',random_string(8) || '@yahoo.com'),
    (5, random_string(6),'Veronica','Steinsfield',random_string(8) || '@yahoo.com'),
    (6, random_string(6),'Veronica','Pam',random_string(8) || '@yahoo.com'),
    (7, random_string(6),'Henry','Smith',random_string(8) || '@yahoo.com'),
    (8, random_string(6),'Johnson','Roy',random_string(8) || '@yahoo.com'),
    (9, random_string(6),'Hollander','Bryan',random_string(8) || '@yahoo.com'),
    (10, random_string(6),'Gasperino','Muriel',random_string(8) || '@yahoo.com'),
    (11, random_string(6),'Brent','Gandy',random_string(8) || '@yahoo.com'),
    (12, random_string(6),'Jacobson','Perry',random_string(8) || '@yahoo.com'),
    (13, random_string(6),'Klump','Lowell',random_string(8) || '@yahoo.com'),
    (14, random_string(6),'Clarence','Cunningham',random_string(8) || '@yahoo.com'),
    (15, random_string(6),'Gross','Charlotte',random_string(8) || '@yahoo.com'),
    (16, random_string(6),'Francisco','Hoffman',random_string(8) || '@yahoo.com'),
    (17, random_string(6),'Douglas','Antoinette',random_string(8) || '@yahoo.com'),
    (18, random_string(6),'Graves','Melinda',random_string(8) || '@yahoo.com'),
    (19, random_string(6),'Armstrong','Cecelia',random_string(8) || '@yahoo.com'),
    (20, random_string(6),'Mcbride','Troy',random_string(8) || '@yahoo.com'),
    (21, random_string(6),'Mcgee','Bobbie',random_string(8) || '@yahoo.com'),
    (22, random_string(6),'Marshall','Debbie',random_string(8) || '@yahoo.com'),
    (23, random_string(6),'Cooper','Natalie',random_string(8) || '@yahoo.com'),
    (24, random_string(6),'Harmon','Corey',random_string(8) || '@yahoo.com'),
    (25, random_string(6),'Black','Guillermo',random_string(8) || '@yahoo.com'),
    (26, random_string(6),'Brewer','Larry',random_string(8) || '@yahoo.com'),
    (27, random_string(6),'Hudson','Anne',random_string(8) || '@yahoo.com'),
    (28, random_string(6),'Conner','Joe',random_string(8) || '@yahoo.com'),
    (29, random_string(6),'Miles','May',random_string(8) || '@yahoo.com'),
    (30, random_string(6),'Hayes','Katie',random_string(8) || '@yahoo.com'),
    (31, random_string(6),'Boyd','Kyle',random_string(8) || '@yahoo.com'),
    (32, random_string(6),'Rodriguez','Nick',random_string(8) || '@yahoo.com'),
    (33, random_string(6),'Adams','Kim',random_string(8) || '@yahoo.com'),
    (34, random_string(6),'Thompson','Nakia',random_string(8) || '@yahoo.com'),
    (35, random_string(6),'Hale','Courtney',random_string(8) || '@yahoo.com'),
    (36, random_string(6),'Harper','Jacob',random_string(8) || '@yahoo.com'),
    (37, random_string(6),'Mckenzie','Syndey',random_string(8) || '@yahoo.com'),
    (38, random_string(6),'Payne','Tyler',random_string(8) || '@yahoo.com'),
    (39, random_string(6),'Carlson','Elijah',random_string(8) || '@yahoo.com'),
    (40, random_string(6),'Mccarthy','Leroy',random_string(8) || '@yahoo.com'),
    (41, random_string(6),'Mccormick','Ronald',random_string(8) || '@yahoo.com'),
    (42, random_string(6),'Hill','McKenzie',random_string(8) || '@yahoo.com'),
    (43, random_string(6),'Becker','Bea',random_string(8) || '@yahoo.com'),
    (44, random_string(6),'West','Jess',random_string(8) || '@yahoo.com'),
    (45, random_string(6),'Garth','Mitt',random_string(8) || '@yahoo.com'),
    (46, random_string(6),'Brooks','Micheal',random_string(8) || '@yahoo.com'),
    (47, random_string(6),'Brown','Mitch',random_string(8) || '@yahoo.com'),
    (48, random_string(6),'Marxkors','Joe',random_string(8) || '@yahoo.com'),
    (49, random_string(6),'Billy','Julie',random_string(8) || '@yahoo.com'),
    (50, random_string(6),'Van Hugh','Kate',random_string(8) || '@yahoo.com'),
    (51, random_string(6),'Roberts','Annie',random_string(8) || '@yahoo.com')
;

51 rows affected.

[]

## votingResults table

In [77]:
%%sql
CREATE TABLE votingResults (
    roundNum INTEGER,
    student_id INTEGER REFERENCES potential_roster (student_id) ON DELETE CASCADE,
    yes INTEGER,
    no INTEGER,
    abstain INTEGER,
    PRIMARY KEY (student_id, roundNum)
);

Done.

[]

In [78]:
%%sql
TRUNCATE votingResults CASCADE;

Done.

[]

In [93]:
%%sql
INSERT INTO votingResults VALUES
    (1, 1,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 2,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 3,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 4,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 5,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 6,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 7,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 8,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 9,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 10,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 11,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 12,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 13,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 14,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 15,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 16,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 17,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 18,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 19,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 20,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 21,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 22,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 23,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 24,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 25,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 26,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 27,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 28,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 29,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 30,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 31,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 32,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 33,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 34,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 35,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 36,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 37,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 38,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 39,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 40,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 41,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 42,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 43,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 44,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 45,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 46,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 47,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 48,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 49,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 50,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (1, 51,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 1,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 2,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 3,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 4,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 5,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 6,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 7,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 8,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 9,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 10,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 11,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 12,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 13,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 14,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 15,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 16,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 17,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 18,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 19,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 20,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 21,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 22,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 23,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 24,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 25,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 26,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 27,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 28,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 29,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 30,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 31,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 32,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 33,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 34,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 35,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 36,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 37,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (2, 38,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 1,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 2,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 3,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 4,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 5,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 6,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 7,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 8,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 9,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 10,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 11,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 12,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 13,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 14,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 15,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 16,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 17,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 18,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 19,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 20,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 21,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 22,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 23,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 24,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int)),
    (3, 25,(floor(random()*50+1)::int),(floor(random()*50+1)::int),(floor(random()*50+1)::int))
;

114 rows affected.

[]

## classes table

In [80]:
%%sql
CREATE TABLE classes (
    class_id INTEGER PRIMARY KEY,
    class_name VARCHAR(255),
    semester VARCHAR(50),
    year INTEGER
);

Done.

[]

In [81]:
%%sql
TRUNCATE classes CASCADE;

Done.

[]

In [82]:
%%sql
INSERT INTO classes VALUES
    (1, 'Alpha Epsilon', 'SPRING', 2015),
    (2, 'Alpha Zeta', 'FALL', 2015),
    (3, 'Alpha Eta', 'SPRING', 2016),
    (4, 'Alpha Theta', 'FALL', 2016),
    (5, 'Alpha Iota', 'SPRING', 2017),
    (6, 'Alpha Kappa', 'FALL', 2017),
    (7, 'Alpha Lambda', 'SPRING', 2018)
;

7 rows affected.

[]

## class_roster table

In [83]:
%%sql 
CREATE TABLE class_roster (
    student_id INTEGER UNIQUE REFERENCES member (student_id) ON DELETE CASCADE,
    class_id INTEGER NOT NULL REFERENCES classes (class_id) ON DELETE CASCADE
);

Done.

[]

In [84]:
%%sql
TRUNCATE class_roster CASCADE;

Done.

[]

In [85]:
%%sql
INSERT INTO class_roster VALUES
    (1, 1),
    (2, 1),
    (3, 1),
    (4, 1),
    (5, 1),
    (6, 1),
    (7, 1),
    (8, 1),
    (9, 1),
    (10, 1),
    (11, 1),
    (12, 1),
    (13, 1),
    (14, 1),
    (15, 1),
    (16, 1),
    (17, 1),
    (18, 1),
    (19, 1),
    (20, 1),
    (21, 2),
    (22, 2),
    (23, 2),
    (24, 2),
    (25, 2),
    (26, 2),
    (27, 2),
    (28, 2),
    (29, 2),
    (30, 2),
    (31, 3),
    (32, 3),
    (33, 3),
    (34, 3),
    (35, 3),
    (36, 3),
    (37, 3),
    (38, 3),
    (39, 3),
    (40, 3),
    (41, 4),
    (42, 4),
    (43, 4),
    (44, 4),
    (45, 4),
    (46, 4),
    (47, 4),
    (48, 4),
    (49, 4),
    (50, 4),
    (51, 4),
    (52, 5),
    (53, 5),
    (54, 5),
    (55, 5),
    (56, 5),
    (57, 5),
    (58, 5),
    (59, 5),
    (60, 5),
    (61, 5),
    (62, 5),
    (63, 6),
    (64, 6),
    (65, 6),
    (66, 6),
    (67, 6),
    (68, 6),
    (69, 6),
    (70, 6),
    (71, 6),
    (72, 6),
    (73, 6),
    (74, 6),
    (75, 6),
    (76, 6),
    (77, 6),
    (78, 6),
    (79, 6),
    (80, 7),
    (81, 7),
    (82, 7),
    (83, 7),
    (84, 7),
    (85, 7),
    (86, 7),
    (87, 7),
    (88, 7),
    (89, 7),
    (90, 7),
    (91, 7),
    (92, 7),
    (93, 7),
    (94, 7),
    (95, 7),
    (96, 7),
    (97, 7),
    (98, 7),
    (99, 7),
    (100, 7)
;

100 rows affected.

[]

# TRIGGERS / VIEWS

## Triggers

## dues_paymentPlan table
* Trigger: When last_amount_paid updated -> update amount_paid in memberDues
    * amount_paid = (OLD)amount_paid + (NEW)last_amount_paid

In [86]:
%%sql
DROP TRIGGER IF EXISTS dues_paymentPlan_payment ON dues_paymentPlan;
DROP FUNCTION IF EXISTS payment_made();

Done.
Done.

[]

In [87]:
%%sql
CREATE OR REPLACE FUNCTION payment_made()
 RETURNS trigger AS
$$
BEGIN
    /* Case when a payment is made and last_payment_date is supplied */
    IF NEW.last_amount_paid IS NOT NULL AND NEW.last_payment_date IS NOT NULL
    THEN
        UPDATE memberDues 
        SET amount_paid = amount_paid + NEW.last_amount_paid
        WHERE memberDues.dues_id = (
            SELECT dues_id 
            FROM dues_paymentPlan AS dpp
            WHERE memberDues.dues_id = dpp.dues_id);
    END IF;
    
    /* Default Behavior when a payment is made */
    IF NEW.last_amount_paid IS NOT NULL AND OLD.last_payment_date = NEW.last_payment_date
    THEN
        UPDATE memberDues 
        SET amount_paid = amount_paid + NEW.last_amount_paid
        WHERE memberDues.dues_id = (
            SELECT dues_id 
            FROM dues_paymentPlan AS dpp
            WHERE memberDues.dues_id = dpp.dues_id);

        UPDATE dues_paymentPlan
        SET last_payment_date = current_date
        WHERE dues_paymentPlan.dues_id = 2;
    
    END IF;
    
    RETURN NEW;
END;
$$
LANGUAGE plpgsql;

Done.

[]

In [94]:
%%sql
CREATE TRIGGER dues_paymentPlan_payment
  AFTER UPDATE OF last_amount_paid, last_payment_date
  ON dues_paymentPlan
  FOR EACH ROW
  EXECUTE PROCEDURE payment_made();

(psycopg2.ProgrammingError) trigger "dues_paymentplan_payment" for relation "dues_paymentplan" already exists
 [SQL: 'CREATE TRIGGER dues_paymentPlan_payment\n  AFTER UPDATE OF last_amount_paid, last_payment_date\n  ON dues_paymentPlan\n  FOR EACH ROW\n  EXECUTE PROCEDURE payment_made();']

### Testing

In [ ]:
%%sql
SELECT * FROM memberDues WHERE dues_id = 2;

In [ ]:
%%sql
SELECT * FROM dues_paymentPlan WHERE dues_id = 2;

In [ ]:
%%sql
UPDATE dues_paymentPlan
SET last_amount_paid = 5
WHERE dues_id = 2;

In [ ]:
%%sql
UPDATE dues_paymentPlan
SET last_amount_paid = 4 , last_payment_date = current_date - 9
WHERE dues_id = 2;

In [ ]:
%%sql
SELECT * FROM dues_paymentPlan;

## events table
* Trigger: When point_type is updated event_attendance should be updated
    * events.point_type = event_attendance.point_type
    * or memberPoint_associative

In [89]:
%%sql
DROP TRIGGER IF EXISTS event_point_type_update ON events;
DROP FUNCTION IF EXISTS event_type_update();

Done.
Done.

[]

In [90]:
%%sql
CREATE OR REPLACE FUNCTION event_type_update()
 RETURNS trigger AS
$$
BEGIN
    UPDATE event_attendance
    SET point_type = NEW.point_type
    WHERE event_id = OLD.event_id;
    
    RETURN NEW;
END;
$$
LANGUAGE plpgsql;

Done.

[]

In [91]:
%%sql
CREATE TRIGGER event_point_type_update
  AFTER UPDATE OF point_type
  ON events
  FOR EACH ROW
  EXECUTE PROCEDURE event_type_update();

Done.

[]

### Testing

In [ ]:
%%sql
UPDATE events
SET point_type = 3
WHERE event_id = 1;

In [ ]:
%%sql
SELECT * FROM events;

In [ ]:
%%sql
SELECT * FROM event_attendance;

## Views

# INDEXES

# QUERIES